.text-page__wrapper {
	position: relative;
  font: "DIN Alternate Bold", sans-serif;
  font-size: 8pt;
  color: white;
  background-color: #01172e;
  padding: 1rem;
}

.text-page__button-back {
position: absolute;
top: 1rem;
right: 1rem;

}